<%- include('partials/header') %> 
<h1>Compose</h1>
<form action="/compose" method="post">
<div class="from-group">
<label>Title</label>
<input class="form-control" type="text" name="postTitle" placeholder="Title.."> 
</div>
<div class="form-group">
<label>Post</label>
<textarea class="form-control" name="postBody" cols="30" rows="5"></textarea>
<button type="submit" class="btn btn-primary">Publish</button>
</div>
</form>
<%- include('partials/footer') %> 