<%- include('partials/header') %> 
<body class="text-center">
    <form class="form-signin" action="/" method="POST">

      <h1 class="h3 mb-3 font-weight-normal">Sign up to My Blog !</h1>

      <input
        type="text"
        name="fName"
        id="inputEmail"
        class="form-control top"
        placeholder="First Name"
        required
        autofocus
      />

      <input
        type="text"
        name="lName"
        id="inputPassword"
        class="form-control middle"
        placeholder="Last Name"
        required
      />
      <input
        type="email"
        name="email"
        id="inputPassword"
        class="form-control bottom"
        placeholder="Email"
        required
      />

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam non nisi est sit.</p>
    </form>
  </body>
  <%- include('partials/footer') %> 